.canvasMenuButton {
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(78, 95, 111);
  color: white;
  transition: background-color 0.2s;
}

.canvasMenuButton:hover {
  background-color: rgb(82, 106, 124)
}

.canvasMenuButtonSelected {
  background-color: rgb(23, 98, 163);
}

.canvasMenuButtonSelected:hover {
  background-color: rgb(17, 82, 140);
}


.canvasMenuButtonDelete {
  background-color: rgb(218, 12, 12);
}

.canvasMenuButtonDelete:hover {
  background-color: rgb(190, 12, 12);
}

canvas {
  border-radius: 8px;
}

.menu-export::after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: #9caab7;
  transform: rotateZ(45deg);
  position: absolute;
  top: -7px;
  right: 12px;
  z-index: 3;
}

.canvas-input {
  border: 2px solid black;
  text-align: center;
  font-size: 12px;
}

/* #canvas-container {
  width: 100%;
  height: 100vh;
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
  background-color: rgb(35, 35, 35);
} */